.autobox {
  position: absolute;
  width: 30rem;
  margin-top: 1rem;
  top: 12px;
  /* margin-left: 12rem; */
  border-left: 2px #f5bfd5 solid;
  /* border-right: 2px grey solid; */
  /* border-bottom: 2px #ff2e88 dotted; */
  z-index: 1;
  background: #fce6ee;
  border-bottom: 2px #f5bfd5 solid;
}

.autobox ul {
  list-style: none;
  padding: 0 10px;
  width: 100%;
}

.autobox li {
  width: 100%;
}

.autobox .sug:hover {
  background-color: #ff2e88;
  cursor: pointer;
}

.autobox .sug:hover a {
  background-color: #ff2e88;
  color: white;
}

.autobox.autobox-overt {
  visibility: visible;
}

.autobox.autobox-covert {
  visibility: hidden;
}

.arrowfocus a {
  color: white;
  background-color: #ff2e88;
}

@media screen and (max-width:768px) {
  .autobox {
    width: 80%;
    margin-left: 0;
  }
}