body, input, div {
  font-size: 13px;
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

#e-mail-section {
  padding: 40px;
  padding-top: 20px;
  margin: 8;
  margin-left: 117px;
}

.loading {
  display: inline-block;
  margin-right: 10px;
}

.reply-link {
  position: absolute;
  left: 555px;
  top: 35px;
}

.reply-link a {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 2px dotted pink;
  font-style: bold;
}


ul {
  list-style: none;
  padding: 0;
}

.fix-wid-box {
  width: 620px;
  padding-top: 20px;
}

.kermput {
  padding: 10px 5px 0;
  width: 200px;
  border: none;
  border-bottom: 2px grey solid;
  margin-bottom: 4px;
}

.frand-chunk {
  position: absolute;
  top: 120px;
  left: 240px;
}

.letter-dates {
    width: 140px;
    background-image: url(../img/datestamp.png);
    height: 40px;
    position: absolute;
    background-size: cover;
}

.letter-dates div {
  color: #ff2e88;
  position: absolute;
  white-space: nowrap;
}

.letter-stamp {
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-shadow: rgba(66, 63, 63, 0.77) 0px 0 1px 0px;
}

.letter-stamp img {
  width: 64px;
}

.letter-box {
  border: 2px #ccc solid;
  padding: 1rem 1rem 4rem;
  margin: 4rem 0 2rem;
  position: relative;
  width: 100%;
  min-height: 426px;
  background-image: -moz-linear-gradient(top , white, white 31px,#a7e1e8 0px);
  background-image: -webkit-linear-gradient(top , white, white 31px,#a7e1e8 0);
  -webkit-background-size:  100% 32px;
  background-size: 100% 32px;
  white-space: pre-wrap;
  padding-top: 0.46rem;
  line-height: 32px;
  font-size: 14.4px;
  resize: none;
  outline: none;
  border-radius: 4px;
  z-index: 100;
}

.letter-bottom {
  z-index: 1;
  opacity: .3;
}

.lope-bottom {
  z-index: 1;
  opacity: .4;
  transform: rotate(-5.5deg);
  margin-left: -100px;
}

.envelope-box {
  border: 3px #ccc solid;
  padding: 1rem 1rem 6rem;
  min-height: 180px;
  height: 298px;
  width: 800px;
  margin: 0 0 2rem;
  position: absolute;
  border-radius: 4px;
  background: white;
  z-index: 10;
  margin-left: -109px;
  margin-top: 10.5rem;
}

.letter-box-closed {
  padding: 1rem;
  margin: 0;
  min-height: auto;
  background-image: none;
}

.letter-body {
  white-space: pre-wrap;
  padding-top: 2rem;
  line-height: 32px;
  width: 620px;
}

.letter-track-link {
  float: right;
  margin-top: 20px;
  font-size: smaller;
}
