body {
  margin: 0;
  font-family: Futura, sans-serif;
}

body, button, input, textarea {
  font-size: 12px;
  font-family: Hack,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

#index-page {
  /* margin: 8;
  margin-left: 117px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix-wid-box {
  width: 620px;
  padding-top: 20px;
}

.header-text {
  color: #828282;
}

.letter-wrap {
  position: relative;
  z-index: 10;
}

.letter-bottom {
  z-index: 1;
  opacity: .3;
}

.letter-bottom textarea {
  cursor: default;
}

.letter-box {
  border: 2px #ccc solid;
  padding: 1rem 1rem 4rem;
  margin: 4rem 0 2rem;
  position: relative;
  display: flex;
  box-sizing: content-box;
  overflow: hidden;

  width: 100%;
  /* min-height: 426px; */
  background-image: -moz-linear-gradient(top , transparent, transparent 31px,#a7e1e8 0px);
  background-image: -webkit-linear-gradient(top , transparent, transparent 31px,#a7e1e8 0);
  -webkit-background-size:  100% 32px;
  background-size: 100% 32px;
  white-space: pre-wrap;
  padding-top: 0.46rem;
  line-height: 32px;
  font-size: 0.9rem;
  resize: none;
  outline: none;
  border-radius: 4px;
}

.envelope-box {
  border: 3px #ccc solid;
  padding: 1rem 1rem 6rem;
  min-height: 180px;
  height: 180px;
  width: 800px;
  margin: 0 0 2rem;
  position: absolute;
  border-radius: 4px;
  background: white;
  z-index: 10;
  margin-left: -109px;
  margin-top: 10.5rem;
}

.lope-bottom:hover {
  animation: envelope-shake 1.5s;
  animation-iteration-count: infinite;
}

.lope-bottom {
  z-index: 1;
  opacity: .4;
  transform: rotate(-5.5deg);
  margin-left: -100px;
}

.letter-stamp {
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-shadow: rgba(66, 63, 63, 0.77) 0px 0 1px 0px;
}

.letter-stamp img {
  width: 64px;
}

.frand-chunk {
  position: absolute;
  top: 120px;
  left: 240px;
}

.kermput {
  outline: none;
  outline-offset: 0;
  padding: 10px 5px 0;
  width: 200px;
  border: none;
  border-bottom: 2px grey solid;
  margin-bottom: 4px;
}

.kermput:placeholder-shown,
.kermput::placeholder,
.kemput::-webkit-input-placeholder {
  background: #fce6ee;
  border-bottom: 2px #f5bfd5 solid;
}

.input-wrap span {
  width: 200px;
}

.input-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 10px;
}

/* .address-btn {
  position: absolute;
  left: 630px;
  bottom: 3rem;
  color: #ff2e88;
  text-decoration: none;
  border-bottom: 1px solid #ff2e88;
}

.address-btn:hover {
  background-color: #ff2e88;
  color: #fff;
} */

.switch-btn {
  display: flex;
  justify-content: center;
}

.switch-btn img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.switch-btn img:hover {
  transform: scale(1.2);
}

.switch-img-align {
  margin-top: -3px;
  margin-right: -1.5px;
}

.submit-btn {
  background-color: #ff2e88;
  color: #fff;
  font-size: 10px;
  padding: 10px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.submit-btn:disabled {
  background-color: grey;
  cursor: default;
}

.submit-btn:hover:not(:disabled) {
  border: 1px solid #ff2e88;
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}

.submit-btn:active:not(:disabled) {
  border: 3px solid #ff2e88;
}

.help-block {
  width: 100px;
}

@media only screen and (max-width: 1000px) {
  .weather-drop {
    display: none;
  }
}

.weather-drop {
  position: fixed;
  top: 0;
  right: 0;
  width: 8rem;
  height: 100%;
  text-align: center;
  border-left: 1px solid #ddd;
}

.empty-tick {
  padding-top: 20px;
}

.tick-place {
  height: 5.5rem;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.tick-text {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: center;
}

.weather-header {
  font-weight: bold;
  font-style: italic;
  font-family: monospace;
  font-size: 105%;
  padding: 8px 5px;
  border-bottom: 1px solid #ddd;
}

.weather-desc {
  font-size: 0.6rem;
}

.weatherco {
  width: 52px;
  height: 50px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.baddie-icon {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 20px;
}

.innerco {
  background: url('/img/weather.svg') no-repeat;
  height: 406px;
  width: 990px;
  position: absolute;
}

.w01d {
  background-position: -57px -200px;
}
.w02d {
  background-position: -56px -96px;
}
.w03d {
  background-position: 3px -103px;
}
.w04d {
  background-position: -57px 2px;
}
.w09d {
  background-position: 1px -203px;
}
.w10d {
  background-position: 1px -49px;
}
.w11d {
  background-position: -59px -151px;
}
.w13d {
  background-position: -59px -248px;
}
.w50d {
  background-position: 2px 5px;
}
.w01n {
  background-position: -4px -254px;
}
.w02n {
  background-position: -1px -149px;
}
.w03n {
  background-position: 3px -103px;
}
.w04n {
  background-position: -57px 2px;
}
.w09n {
  background-position: 1px -203px;
}
.w10n {
  background-position: -55px -49px;
}
.w11n {
  background-position: -59px -151px;
}
.w13n {
  background-position: -59px -248px;
}
.w50n {
  background-position: 2px 5px;
}

.help-block {
  border: 1px solid #ddd;
  background: rgb(252, 230, 238);
  padding: 6px;
  margin-left: 5px;
  width: 250px;
}

.help-block a {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes shake {
  0%   { transform: translate(1px,   1px) rotate( 0deg); }
  10%  { transform: translate(-1px, -1px) rotate(-1deg); }
  20%  { transform: translate(-1px,  0px) rotate( 1deg); }
  30%  { transform: translate(1px,   2px) rotate( 0deg); }
  40%  { transform: translate(1px,  -1px) rotate( 1deg); }
  50%  { transform: translate(-1px,  1px) rotate(-1deg); }
  60%  { transform: translate(-1px,  1px) rotate( 0deg); }
  70%  { transform: translate(1px,   1px) rotate(-1deg); }
  80%  { transform: translate(-1px, -1px) rotate( 1deg); }
  90%  { transform: translate(1px,   1px) rotate( 0deg); }
  100% { transform: translate(1px,  -1px) rotate(-1deg); }
}


@keyframes envelope-shake {
  0%   { transform: rotate(-5.5deg); }
  10%  { transform: rotate(-5.0deg); }
  20%  { transform: rotate(-6.0deg); }
  30%  { transform: rotate(-5.5deg); }
  40%  { transform: rotate(-6.0deg); }
  50%  { transform: rotate(-5.0deg); }
  60%  { transform: rotate(-5.5deg); }
  70%  { transform: rotate(-5.0deg); }
  80%  { transform: rotate(-6.0deg); }
  90%  { transform: rotate(-5.5deg); }
  100% { transform: rotate(-5.0deg); }
}

@media only screen and (min-width: 834px) {
  .ugly-alert {
    display: none;
  }
}

.ugly-alert {
  background: #ff2e88;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 12px 0px;
  font-weight: bold;
  color: white;
}

.message {
  background-color: white;
  position: fixed;
  top: 0;
  padding: 1rem 3rem;
  border: 1px solid #ff8400;
  display: block;
  width: 100vw;
  left: 0;
  color: #ff8400;
  z-index: 100;
}
.msg-present {
  padding-top: 2rem;
}
.msg-x {
  float: right;
  margin-right: 80px;
}
.msg-x a {
  color: #ff8400;
  border-bottom-color: #ff8400;
}
.msg-x:hover a,
.msg-x a:hover {
  background-color: #ff8400;
  color: white;
  border-bottom: none;
}
