<html>
  <head>
    <meta charset=utf-8 />
    <title>Kermpany e-mail: bringing snail mail to the digital age</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/hack.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/e-mail.css">
  </head>
  <body>
    <section id="e-mail-section">
      <h1>E-Mail: Letter <span v-text="'#' + trackingNumber"></span></h1>
      <template v-if="loading">
        <div class="loading"></div><span>loading, bub.</span>
      </template>
      <template v-if="!loading">
        <!-- <h4>{{info.origin}} =&gt; -->
        <!-- {{info.destination}}</h4>
        <h5 style="margin: 0; margin-top: -16px;">{{info.sender_email}} =&gt; {{info.recipient_email}}</h5> -->
        <h4>Status: DELIVERED!</h4>
      </template>
      <template v-if="!loading">
        <ul>
          <li v-for="(letter, key) in letters" :key="letter.sortIndex">
            <div class="letter-box-closed" v-if="letter.unopened">
              <a :data-tracking="letter.id" v-on:click="loadLetter">load e-mail</a>
              <span v-if="letter.tried">(well junk, that's not delivered yet!)</span>
            </div>
            <!-- evelope section -->
            <!-- <div v-if="!letter.unopened && !letter.inview"> -->
              <div v-hide="letter.unopenable" :class="{ 'lope-bottom': !letter.unopened && letter.inview }" class="envelope-box" v-on:click="letter.inview = true" title="click me to open!!">
                <div class="letter-stamp"><img src="/img/kermpennystamp.png" /></div>
                <div class="frand-chunk">
                  <div>To:</div>
                  <div class="kermput">{{letter.recipient}}</div>
                  <div class="kermput">{{letter.recipientLoc}}</div>
                </div>
                <div class="your-chunk">
                  <div>From:</div>
                  <div class="kermput">{{letter.sender}}</div>
                  <div class="kermput">{{letter.senderLoc}}</div>
                </div>
                <div :style="letter.styles.box" class="letter-dates">
                  <div :style="letter.styles.sent">{{letter.sent | momentDate}}</div>
                  <div :style="letter.styles.arr">{{letter.arrived | momentDate}}</div>
                </div>
              </div>
            <!-- </div> -->

            <!-- letter section -->
            <div  v-if="!letter.unopened && letter.inview">
              <div class="fix-wid-box"  v-on:click="letter.inview = false">
                <div class="letter-wrap" v-on:click="letter.inview = false"></div>
                  <div class="letter-box">{{letter.body}}</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div>
        <span class="reply-link"><a :href="'/reply'+ replyString">send reply</a></span>
      </template>
      <div v-if="false">
        <div id="map"></div>
      </div>
    </section>

    <div class="ugly-alert">Please, don't make the screen so small. Envelopes don't have responsive sizing.</div>
    <!--<script src='https://api.mapbox.com/mapbox-gl-js/v0.30.0/mapbox-gl.js'></script>-->
    <script src="/kermpany-e-mail.js"></script>
  </body>
</html>