<html>
  <head>
    <meta charset=utf-8 />
    <title>E-mail by Kermpany: bringing snail mail to the digital age</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/autobox.css">
  </head>
  <body>
    <div id="index-page">
      <form id="e-mail-form" v-on:submit="postEmail">
        <template v-if="!messageClosed && showMessage()">
          <div class="message">
            <span v-text="setMessage()"></span>
            <span class="msg-x"><a class="ex" v-on:click="messageClosed=true">x</a></span>
          </div>
        </template>
        <!-- envelope section -->
        <div class="envelope-box" title="Gotta know where to send this puppy!" :class="{ 'lope-bottom': !showLope }" v-on:click="showLope = true">
          <div class="letter-stamp"><img src="/img/kermpennystamp.png" /></div>
          <div class="frand-chunk">  
            <div>To:</div>
            <div class="input-wrap">
              <input class="kermput" id="recipient_email" name="recipient_email" type="email" :placeholder="showLope ? 'kermppal@protonmail.com' : ''" autocomplete="off" v-model="form.recipient.email"  v-on:keyup="validateEmail" data-which="recipient_email" :class="{'is-danger': errors.hasOwnProperty('recipient_email')}" />
            </div>
            <div class="input-wrap">
              <input class="kermput" v-model="form.recipient.location.name" id="recipient_location" name="recipient_location" type="text" :placeholder="showLope ? 'Timbuktu, Mali' : ''" v-on:keyup="handleKeyUp" autocomplete="off" data-which="recipient" v-on:blur="cancelAutocomplete" :class="{'is-danger': errors.hasOwnProperty('recipient_location')}"/>
              <template v-if="hasSuggestions.recipient">
              <div class="autobox" :class="{ 'autobox-overt': hasSuggestions.recipient, 'autobox-covert': !hasSuggestions.recipient }">
                <ul id="suggestions" v-if="suggestions.recipient.length > 0">
                  <template v-for="(s, index) in suggestions.recipient" >
                    <li  class="sug" :class="{'arrowFocus': sugsToFocus[index] == 1}" v-on:mousedown="completeAutocomplete" :data-lat="s.center[1]" :data-lon="s.center[0]" :data-name="s.place_name" data-which="recipient">
                      <a v-text="s.place_name" :data-lat="s.center[1]" :data-lon="s.center[0]" :data-name="s.place_name" data-which="recipient"></a>
                    </li>
                  </template>
                </ul>
                <ul id="suggestions" v-else>
                  <li>
                    no suggestions
                  </li>
                </ul>
              </div>
              </template>
              <template v-if="!hasSuggestions.recipient && form.recipient.location.lat == null && suggestions.recipient.length > 0">
                <div class="help-block">
                  did you mean
                  <a data-which="recipient" v-on:click="completeDidyamean">
                    {{suggestions.recipient[0].place_name}}</a>?
                </div>
              </template>
            </div>
          </div>
          <div class="your-chunk">
            <div>From:</div>
            <div class="input-wrap">
              <input class="kermput" id="sender_email" name="sender_email" type="email" :placeholder="showLope ? 'kermplover222@hotmail.com' : ''" autocomplete="off" v-model="form.sender.email" v-on:keyup="validateEmail" data-which="sender_email" :class="{'is-danger': errors.hasOwnProperty('sender_email')}" title="This isn't the postal service we don't do names." />
            </div>
            <div class="input-wrap">
              <input class="kermput" v-model="form.sender.location.name" id="sender_location" name="sender_location" type="text" :placeholder="showLope ? 'Kuala Lumpur, Malaysia' : ''" v-on:keyup="handleKeyUp" autocomplete="off" data-which="sender" v-on:blur="cancelAutocomplete" :class="{'is-danger': errors.hasOwnProperty('sender_location')}" title="A more detailed address will give the most accurate flying times" />
              <template v-if="hasSuggestions.sender">
              <div class="autobox" :class="{ 'autobox-overt': hasSuggestions.sender, 'autobox-covert': !hasSuggestions.sender }">
                <ul id="suggestions" v-if="suggestions.sender.length > 0">
                  <template v-for="(s, index) in suggestions.sender">
                  <li class="sug" :class="{'arrowFocus': sugsToFocus[index] == 1}"  v-on:mousedown="completeAutocomplete" :data-lat="s.center[1]" :data-lon="s.center[0]" :data-name="s.place_name" data-which="sender" :data-index="index">
                  <a v-text="s.place_name" :data-lat="s.center[1]" :data-lon="s.center[0]" :data-name="s.place_name" data-which="sender"></a>
                  </li>
                  </template>
                </ul>
                <ul id="suggestions" v-else>
                  <li>
                    no suggestions
                  </li>
                </ul>
              </div>
              </template>
              <template v-if="!hasSuggestions.sender && form.sender.location.lat == null && suggestions.sender.length > 0">
                <div class="help-block">
                  did you mean
                  <a data-which="sender" v-on:click="completeDidyamean">
                    {{suggestions.sender[0].place_name}}</a>?
                </div>
              </template>
            </div>
          </div>
          <template v-if="showLope">
            <button type="submit" class="submit-btn" :disabled="sendDisabled" :title="!sendDisabled ? 'send it\u000ASend It\u000ASEND ITTT!!' : null">
              <div v-if="loading" :class="{ 'loading-white': loading, 'loading': loading }"></div>
              <span v-text="sendDisabled ? 'fill it out!' : emailButton"></span>
            </button>
          </template>
        </div>
        <!-- letter section -->
        <div class="fix-wid-box">
          <h2 class="header-text">E-Mail, a Kermpany project</h2>
          <div>It's like sending normal mail, but our high-tech system will take care of shipping it for you, electronically. Free for a promotional limited time only.</div>
          <div class="letter-wrap" :class="{ 'letter-bottom': showLope }"  v-on:click="showLope = false">
            <textarea :title="showLope ? null : 'Need help getting started?  \'Hi momma, hope you are having a lovely day!\''"
              class="letter-box auto-expand"
              rows="14"
              data-min-rows="14"
              id="body"
              name="body"
              v-model="form.body"
              v-on:keyup="validateBody"></textarea>
          </div>
          <div>
            <div v-on:click="showLope = !showLope" class="switch-btn"><img :src="showLope ? 'img/lp-color.svg' : 'img/pl-color.svg'" :class="{ 'switch-img-align': showLope }" /></div>
          </div>
          <template v-if="showWeather">
            <div class="weather-drop">
              <div class="weather-header">
                KermpAir Report
              </div>
              <div class="empty-tick" v-if="emptyTicker">no weather to report for some reason...</div>
              <div v-for="(tick, key) in tickerBlob">
                <div class="tick-place">
                  <div v-show="showWeatherWarn()" class="baddie-icon" title="Yeeks! Flights are delayed. Expect delays :("><img src="img/warn.svg" /></div>
                  <h2 class="tick-text" :title="tick.name">{{tick.short_name}}</h2>
                  <div class="tick-weather">
                    <div class="weatherco" :title="getWeatherOpinion(tick.weather[0].id, key)">
                      <div :class="'innerco w'+tick.weather[0].icon"></div>
                    </div>
                    <div class="weather-desc">{{tick.weather[0].description}}</div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </form>
    </div>
    <div class="ugly-alert">Please, don't make the screen so small. Envelopes don't have responsive sizing.</div>
    <script src="/kermpany-e-mail.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.30.0/mapbox-gl.js'></script>
  </body>
</html>
