<html>
  <head>
    <meta charset=utf-8 />
    <title>Kermpany e-mail: bringing snail mail to the digital age</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.30.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/hack.css">
    <style>
      @keyframes dashit {
        0%   { border-color: #E75480; }
        100% { border-color: pink; }
      }

      .form {
        width: 52rem;
      }
      .form-control {
        width: 40rem;
      }
      .form-group label {
        width: 12rem;
      }
      [v-cloak] {
        display: none;
      }
      #e-mail-tracking-section {
        padding: 40px;
        padding-top: 20px;
      }
      .loading {
        display: inline-block;
        margin-right: 10px;
      }

      .progress-bar {
        width: 600px;
      }

      .currentflying {
        font-style: italic;
      }

      .open-e-mail {
        display: inline-block;
        padding: 10px 15px;
        margin-bottom: 20px;
        border: 2px dotted pink;
        font-style: bold;
        animation-duration: 0.5s;
        animation-name: dashit;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      #map {
        width: 600px;
        height: 400px;
        border-radius: 4px;
        border: 3px #d5d5d5 solid;
        /* background: url('/img/maptexture.png') no-repeat; */
      }

      /* #map-mask {
        width: 600px;
        height: 400px;
        background: url('/img/maptexture.png') no-repeat;
        position: absolute;
        pointer-events: none;
        z-index: 100;
      } */

      #timetable {
        margin-left: 20px;
      }

      #timetable table {
        margin: 0;
        font-size: 1rem;
      }
  
      #timetable table td {
        border: none;
      }

      .good-stuff {
        display: flex;
      }
      .letter-stamp {
        position: absolute;
        top: 1rem;
        right: 1rem;
        box-shadow: rgba(66, 63, 63, 0.77) 0px 0 1px 0px;
      }

      .letter-stamp img {
        width: 64px;
      }
      .envelope-box {
        border: 3px #ccc solid;
        padding: 1rem 1rem 6rem;
        min-height: 180px;
        height: 224px;
        width: 600px;
        margin: 0 0 2rem;
        position: relative;
        border-radius: 4px;
        background: white;
        /* z-index: 10; */
        /* margin-left: -109px;
        margin-top: 7.5rem; */
      }
      .kermput {
        padding: 10px 5px 0;
        width: 200px;
        border: none;
        border-bottom: 2px grey solid;
        margin-bottom: 4px;
      }

      .frand-chunk {
        position: absolute;
        top: 90px;
        left: 240px;
      }

      @media only screen and (max-width: 640px) {
        #map {
          width: 100%;
          height: 350px;
        }
      }
      @media only screen and (max-width: 400px) {
        #map {
          width: 100%;
          height: 300px;
        }
      }
    </style>
  </head>
  <body>
    <section id="e-mail-tracking-section">
      <h1>E-Mail: Tracking <span v-text="'#' + trackingNumber"></span></h1>
      <div v-show="loading" class="loading"></div><span v-show="loading">loading, bub.</span>
      <template v-if="done">
        <div class="mini-letter envelope-box">
          <div class="letter-stamp"><img src="/img/kermpennystamp.png" /></div>
          <div class="frand-chunk">
            <div>To:</div>
            <div class="kermput">{{info.destination}}</div>
            <div class="kermput">{{info.recipient_email}}</div>
          </div>
          <div class="your-chunk">
            <div>From:</div>
            <div class="kermput">{{info.origin}}</div>
            <div class="kermput">{{info.sender_email}}</div>
          </div>
        </div>
        <!-- <h4>{{info.origin}} =&gt; {{info.destination}}</h4>
        <h5 style="margin: 0; margin-top: -16px;">{{info.sender_email}} =&gt; {{info.recipient_email}}</h5> -->
        <h4>Status: {{status}}<span v-show="timeToPickUp && timeToPickUp.length > 0"> (next pickup {{timeToPickUp}})</span><span v-show="timeToDelivery.length > 0"> (expected delivery {{timeToDelivery}})</span></h4>
        <a class="open-e-mail" v-show="showable" v-bind:href="'/e-mail/' + trackingNumber">open your e-mail</a>
        <template v-if="(info.state === 'droning' || info.state === 'flying') && info.progress > 0.0">
          <p class="currentflying" v-if="current_location">
            Currently flying over {{current_location}}
          </p>
          <p class="currentflying" v-else>
            Currently flying over some water, probably.
          </p>
        </template>
      </template>

      <div class="good-stuff">
        <div id="map"></div>
        <template v-if="info.events">
          <div id="timetable">
            <table>
              <thead>
              <tbody>
                <tr v-for="leg in info.events">
                  <td>{{leg.event_time | momentTime}}</td>
                  <td>{{leg.event_text}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>
      </div>
    </section>

    <div class="ugly-alert">Please, don't make the screen so small. Envelopes don't have responsive sizing.</div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.30.0/mapbox-gl.js'></script>
    <script src="/kermpany-e-mail.js"></script>
  </body>
</html>
